@if (Request.IsAuthenticated) {
    <span>ようこそ @User.Identity.Name さん</span>
    <span><a id="signOutLnk" href="#">サインアウト</a></span>
} else {
    <span>@Html.ActionLink("サインイン", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "signInLnk" })</span>
}
